.App {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.loader {
  animation: spin infinite 2s linear;
}

.weather-temp {
  font-size: 10em;
  font-weight: 900;
  color: #fff;
}

.weather-forecast {
  display: flex;
  justify-content: center;
}

.weather-forecast .day {
  padding: 10px;
}

.weather-forecast .day .max {
  font-weight: 400;
  color: #3BB7EA;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  .weather-forecast {
    flex-direction: column;
  }
  .weather-forecast .day {
    padding: 0;
  }
}
