.App {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.loader {
  width: 80px;
  height: 80px;
}

.loader1 {
  position: absolute;
  left: 0;
  width: 80px;
  animation: spin infinite 3s linear alternate;
}

.loader2 {
  position: absolute;
  left: 0;
  width: 80px;
  animation: spin infinite 3s linear alternate-reverse;
}

.weather-temp {
  font-size: 10em;
  font-weight: 900;
  color: #fff;
}

.weather-forecast {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.weather-forecast .day {
  padding: 10px;
  min-width: 100px;
}

.weather-forecast .day img {
  max-width: 120px;
}

.weather-forecast .day .max {
  font-weight: 400;
  color: #3BB7EA;
}

input {
  background: #2C2A36;
  border: 0;
  border-bottom: 2px solid #3BB7EA;
  box-sizing: border-box;
  color: #fff;
  font-size: 3em;
  font-family: 'Exo 2', sans-serif;
  margin: 40px 0;
  max-width: 100%;
  padding: 5px;
}

input:focus {
  background: #413f4a;
  outline: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  .App {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
  }
  .loader1, .loader2 {
    top: 40px;
    left: calc(50% - 40px);
  }
  .weather-forecast {
    flex-direction: column;
    align-items: center;
  }
  .weather-forecast .day {
    padding: 0;
  }
}
