.App {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.loader {
  width: 80px;
  height: 80px;
}

.loader1 {
  position: absolute;
  left: 0;
  animation: spin infinite 3s linear alternate;
}

.loader2 {
  position: absolute;
  left: 0;
  animation: spin infinite 3s linear alternate-reverse;
}

.weather-temp {
  font-size: 10em;
  font-weight: 900;
  color: #fff;
}

.weather-forecast {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.weather-forecast .day {
  padding: 10px;
  min-width: 100px;
}

.weather-forecast .day .max {
  font-weight: 400;
  color: #3BB7EA;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  .weather-forecast {
    flex-direction: column;
  }
  .weather-forecast .day {
    padding: 0;
  }
}
